.card.slot(id=`slot${slot + 1}`)
  .slot-number-container
    .slot-number=slot + 1
  .slot-summary.d-grid
    if (id != "0000000000000000")
      if image 
        div 
          img(src=image).slot-image.card-img-top
          img(src=image).slot-mini-image
      div.card-body
        if name
            h5.card-title=name
        button.btn.btn-light.btn-sm(data-bs-toggle="collapse" data-bs-target=`#collapse${slot + 1}` aria-expanded="false" aria-controls=`collapse${slot + 1}`) View Details
      .collapse(id=`collapse${slot + 1}`)
        ul.list-group.list-group-flush
          if id
            li.list-group-item.small
              b="ID: "
              span=id
          if gameseries
            li.list-group-item.small
              b="Game Series: "
              span=gameseries
          if amiiboseries
            li.list-group-item.small
              b="Amiibo Series: "
              span=amiiboseries
          if type
            li.list-group-item.small
              b="Type: "
              span=type
        
      .slot-button-container.d-grid.px-3.pb-3
        button.btn.btn-dark.btn-lg.mb-3.slot-select-link Select
        .jump-buttons.gap-2.mb-3
          if (slot + 1 == 1)
            a.select-next.btn.btn-dark.btn-lg(href=`#slot32`) Previous
            a.select-previous.btn.btn-dark.btn-lg(href=`#slot${slot + 2}`) Next
          else if (slot + 1 == 32)
            a.select-next.btn.btn-dark.btn-lg(href=`#slot${slot}`) Previous
            a.select-previous.btn.btn-dark.btn-lg(href=`#slot1`) Next
          else
            a.select-next.btn.btn-dark.btn-lg(href=`#slot${slot}`) Previous
            a.select-previous.btn.btn-dark.btn-lg(href=`#slot${slot + 2}`) Next

        .btn-group(role="group")
          button.btn.btn-outline-secondary.slot-download-link(type="button") Download
          button.btn.btn-outline-secondary.slot-upload-link(type="button") Upload
          button.btn.btn-outline-secondary.slot-clear-link(type="button") Clear
        //- .dropdown.d-grid
        //-   button.btn.btn-outline-secondary.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false").
        //-     Options  
        //-   ul.dropdown-menu
        //-     li
        //-       button.dropdown-item.slot-download-link(type="button") Download
        //-     li
        //-       button.dropdown-item.slot-upload-link(type="button") Upload
        //-     li
        //-       button.dropdown-item.slot-clear-link(type="button") Clear
    else
      div.card-body
        if name
          p.small.mt-5.mb-1
            b="Name: "
            span=name
        if id
          p.small
            b="ID: "
            span=id
      .d-grid.px-3.pb-3
        button.btn.btn-primary.btn-lg.slot-upload-link Upload