.well.well-sm.slot
  .slot-title=slot + 1
  .slot-summary
    if aid
      div
        b="ID: "
        span=id
    if name
      div
        b="Name: "
        span=name
    if gameseries
      div
        b="Game Series: "
        span=gameseries
    if amiiboseries
      div
        b="Amiibo Series: "
        span=amiiboseries
    if type
      div
        b="Type: "
        span=type
    ul.slot-links
      li: a.slot-download-link(href='#') Download
      li: a.slot-upload-link(href='#') Upload
      li: a.slot-clear-link(href="#") Clear
      li: a.slot-select-link(href="#") Select
